.login-parent {
  width: 700px;
  margin: 20px auto;
  padding: 10px 0;
  border-radius: 25px;
  box-shadow: 2px 8px 10px 5px rgb(202, 202, 202);
  text-align: center;
  transition: width 0.5s;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.login-container > div {
  flex-basis: 40%;
  display: inline-block;
}
.login-image img {
  width: 250px;
}
.welcome-topbyyou {
  font-weight: 600;
  font-size: 2.5em;
  font-size: 1.1em;
  text-align: left;
  color: rgb(129, 129, 129);
  margin-bottom: 30px;
}
.welcome-topbyyou span {
  font-weight: 900;
  font-size: 1.3em;
  margin-top: 8px;
  display: inline-block;
}
#topby {
  color: black;
}
#you {
  color: var(--purple);
}
form input[type="text"] {
  border-bottom: 1px solid rgb(221, 221, 221);
}
.login-shadow {
  padding: 5px 0;
  border-radius: 7px;
  box-shadow: 2px 3px 10px 2px rgb(219, 219, 219);
}
.login-shadow input {
  padding: 10px 2px 10px 15px;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  width: 280px;
}
.login-options {
  position: relative;
  display: block;
  font-weight: 500;
  color: rgb(133, 133, 133);
  font-size: 0.75em;
  transition: color 0.2s;
  margin: 15px 0;
  text-align: left;
}
.login-options label {
  margin-left: 5px;
}
.forgot-password {
  text-decoration: underline;
  display: inline;
  position: absolute;
  margin: 0;
  right: 0;
  cursor: pointer;
}
.forgot-password:hover {
  color: black;
}
#login-btn {
  margin: 15px;
}
.create-account {
  cursor: pointer;
  font-size: 0.85em;
  text-decoration: underline;
  display: inline-block;
  color: var(--purple);
}
