:root {
  --purple: #6a13f5;
  --light-purple: #ede5f8;
  --blue: #198cf0;
  --border-grey: #bcbcbc;
  --dark-grey: #2e2e2e;
}
.button {
  box-sizing: border-box;
  padding: 8px 15px;
  font-family: "Montserrat";
  font-size: 1em;
  color: white;
  background-color: var(--dark-grey);
  border: 1px solid var(--border-grey);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s;
}
.button:hover {
  background-color: #5206cb;
}
.label {
  background-color: transparent;
  color: #676767;
}
.label:hover {
  background-color: var(--light-purple);
  color: #000000;
}

.App {
  text-align: center;
}

/* Header */
.Header {
  position: relative;
  height: 80px;
}
.Header a {
  color: black;
}
#appTitle {
  display: inline-block;
  position: absolute;
  left: 40px;
  font-weight: 900;
  font-size: 2.5em;
  /* border: 1px solid red; */
}
#appTitle span {
  color: var(--purple);
}
nav {
  display: inline-block;
  position: absolute;
  top: 40px;
  right: 40px;
  /* border: 1px solid blue; */
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
  font-weight: 700;
  display: inline;
  margin: 0 20px;
  cursor: pointer;
}
.active {
  /* text-decoration: underline; */
  color: var(--purple);
}

/* VIEWPORT */
/* #viewport { */
/* height: 100vh; */
/* } */

/* Footer */
.Footer {
  padding: 1px;
  background-color: var(--dark-grey);
}
#appDeveloped {
  font-weight: 500;
  color: white;
  margin: 50px auto;
}
#appDeveloped a {
  color: var(--blue);
  text-decoration: none;
  font-weight: 700;
}
